<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table border="1" style="text-align: center;">
        <tr>
            <td>번호</td>
            <td>이름</td>
            <td>나이</td>
            <td>주소</td>
        </tr>
        <tr th:each="user :${list}">
            <td th:text="${user.num}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.address}"></td>
        </tr>
    </table>
</body>
</html>