<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    userinfoList
    <form>
        <input type="text" name="uiName" placeholder="이름" th:value="${param.uiName}">
        <button>검색</button>
    </form>
    <table border="1">
        <tr>
            <td>#</td>
            <td>이름</td>
            <td>아이디</td>
            <td>비밀번호</td>
        </tr>
      <tr th:each="user: ${userList}">
        <td th:text="${user.uiNum}"></td>
        <td th:text="${user.uiName}"></td>
        <td th:text="${user.uiId}"></td>
        <td th:text="${user.uiPwd}"></td>
      </tr>
    </table>
  </body>
</html>
